
<div class='slides'>        
    <div class='slider' id='slide-left'>
            <img class='slide-img2'  src='../assets/img/poke.png'>
            <img class='slide-img2'  src='../assets/img/poke2.png'>
            <img class='slide-img2'  src='../assets/img/poke3.png'>
            <img class='slide-img2'  src='../assets/img/poke4.png'>
            <img class='slide-img2'  src='../assets/img/poke5.png'>
            <img class='slide-img2'  src='../assets/img/poke6.png'>
            <img class='slide-img2'  src='../assets/img/poke7.png'>
            <img class='slide-img2'  src='../assets/img/poke8.png'>
            <img class='slide-img2'  src='../assets/img/poke9.png'>
            <img class='slide-img2'  src='../assets/img/poke10.png'>
    </div>
    
    <div class='sliderC' id='slide-center'> 
        <img class='slide-img'  src='../assets/img/pokemon3.jpg' alt='missing image'>       
        <!--<img class='slide-img'  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png"> -->     
    </div>
  
    <div class='slider' id='slide-right'>
            <img class='slide-img2'  src='../assets/img/poke11.png'>
            <img class='slide-img2'  src='../assets/img/poke12.png'>
            <img class='slide-img2'  src='../assets/img/poke13.png'>
            <img class='slide-img2'  src='../assets/img/poke14.png'>
            <img class='slide-img2'  src='../assets/img/poke15.png'>
            <img class='slide-img2'  src='../assets/img/poke16.png'>
            <img class='slide-img2'  src='../assets/img/poke17.png'>
            <img class='slide-img2'  src='../assets/img/poke18.png'>
            <img class='slide-img2'  src='../assets/img/poke19.png'>
            <img class='slide-img2'  src='../assets/img/poke20.png'>         
    </div>
</div>      
