@import '../../../src/sass/variables';
@import '../../../src/sass/mixins';



  .container-form {
      display: flex;
      color:white;
      align-items: center;
      justify-content: center;
      padding: 24px;
      background:$colorFontPricinpal;
      height:150px;
  }

  



  
  

